{% import '@GabiUJobeet/mPurpose-master/macro/jobList.html.twig' as jobs %}
{% import '@GabiUJobeet/mPurpose-master/macro/slider.html.twig' as slider %}

{% extends 'GabiUJobeetBundle:mPurpose-master:layout.html.twig' %}

{% block heading %}
    Jobeet Homepage
{% endblock %}

{% block slider %}
    {{ slider.render(categories.0.activeJobs) }}
{% endblock %}

{% block content %}

    <div class="row" id="jobs">
        {% for category in categories %}
            {{ jobs.list(category) }}
        {% endfor %}
    </div>
{% endblock %}