{% extends "@GabiUJobeet/layout.html.twig" %}

{% block content %}
    <div class="content">
        <h1>The job has been created! One more step to do:</h1>
        <div style="padding: 20px;">
            In order to manage your job, we need the confirmation the provided email address.
            We have sent to {{ email }} a confirmation link, so please go to your inbox and access it.

            Once you click that link, you'll be able to publish, unpublish or extend this job.
        </div>
        {% if true == provider %}
            <div style="padding: 20px;">
                <h2><a href="{{ provider }}">Go to webmail »»</a></h2>
            </div>
        {% endif %}
    </div>
{% endblock content %}