<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <link href="{{ asset("bundles/gabiujobeet/css/login.css") }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>Jobeet login</h1>
    <p>{{ error }}</p>

    {{ form(form) }}
</div>
</body>
</html>